.root {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  padding: 10px;
  background-color: red;
}

.active {
  text-decoration: underline;
}
